[attr]phasor text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

*.phs phasor
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.zig linguist-detectable=false
*.nsi linguist-detectable=false
*.sh linguist-detectable=false
