[attr]phasor text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

*.phs phasor
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.zig linguist-detectable=false
*.1 eol=lf
*.3 eol=lf
*.5 eol=lf
*.7 eol=lf
*.sh eol=lf
*.bat eol=crlf
*.cmd eol=crlf
thirdparty/include/*.h linguist-detectable=false
thirdparty/include/*.hpp linguist-detectable=false