<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dir_LeTQIBl9a2URA4Zaav7Fa.mwCc" Name="bin">
                <Component Id="cmpBfFFZ2v2kii7VN3KXkXwabM5Fyo" Guid="*">
                    <File Id="filmVGPZzBje5eoAwhPAZMs11QaYZ4" KeyPath="yes" Source="$(var.SourceDir)\bin\phasor-help.exe" />
                </Component>
                <Component Id="cmpK3NTalfDwwhFpiQqGiZBCl8zX0s" Guid="*">
                    <File Id="filRXlCZSlta0iSmx8vswauI8hrgZA" KeyPath="yes" Source="$(var.SourceDir)\bin\phasor-lsp.exe" />
                </Component>
                <Component Id="cmp4j.vJYTh5Cj6_QF4E3ubXVdEmuM" Guid="*">
                    <File Id="filPL0tpNwa0gVlWAdifXODDobA.K0" KeyPath="yes" Source="$(var.SourceDir)\bin\phasor.exe" />
                </Component>
                <Component Id="cmpWXqncv_IMYF_j36djtOYoIz_wj0" Guid="*">
                    <File Id="filu7ryxiwMdmzWfaDLdfY9pvaAVPY" KeyPath="yes" Source="$(var.SourceDir)\bin\phasorasm.exe" />
                </Component>
                <Component Id="cmpMeeqVGTdIHq.MhrSVV4bCXvI1SI" Guid="*">
                    <File Id="fil7mGrt0YABwFRhUh_RNFq1MSzxt4" KeyPath="yes" Source="$(var.SourceDir)\bin\phasorc.exe" />
                </Component>
                <Component Id="cmpQvMJYoyIMRyLFwACDISK_08PaTo" Guid="*">
                    <File Id="filsqzWBV3XYCzVUg_d_obzyiObVQY" KeyPath="yes" Source="$(var.SourceDir)\bin\phasorcc.exe" />
                </Component>
                <Component Id="cmp7_gxyxxpeZlkPzaFF9YyK4fsbfQ" Guid="*">
                    <File Id="filKdJ3i5qilqBB0o3Qz.9J8ZnXTMg" KeyPath="yes" Source="$(var.SourceDir)\bin\phasordecomp.exe" />
                </Component>
                <Component Id="cmpskfxGRO6IkepjoaHi2BZUhFh1lM" Guid="*">
                    <File Id="fil4lkCdmPZR4eGUscblZYVJDUkjuM" KeyPath="yes" Source="$(var.SourceDir)\bin\phasorrt.dll" />
                </Component>
                <Component Id="cmpA1TQDLK77bLOs3gOP4jOvY2Gg6Y" Guid="*">
                    <File Id="fil.uAVUVy4ziLVsyGueofz9RzEP2E" KeyPath="yes" Source="$(var.SourceDir)\bin\phasorvm.exe" />
                </Component>
                <Component Id="cmpJEe0HgmM1jooRis2kL7K53JTVbc" Guid="*">
                    <File Id="fil8B1gfIFMCZUT6fAJOxGwv27v_a8" KeyPath="yes" Source="$(var.SourceDir)\bin\phasorw.exe" />
                </Component>
                <Directory Id="dir5DSf_frXzzZujtETFC172NNPiXg" Name="plugins">
                    <Component Id="cmpQllGoRa0uUgp8XUnNCMhpYGZOUk" Guid="*">
                        <File Id="filJt_ca0bbkVP_m3b9Ukyj3LmEmBM" KeyPath="yes" Source="$(var.SourceDir)\bin\plugins\sdl2_phs.dll" />
                    </Component>
                    <Component Id="cmp_QKT8fd9y1eMm9s4ObDhYxbCdPI" Guid="*">
                        <File Id="fil2Ca_i1z2QYa8bIU7mWl3M9qAS74" KeyPath="yes" Source="$(var.SourceDir)\bin\plugins\winapi_phs.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirnRc0OR3bFjUNuLY4L5b1LXiKZMA" Name="include">
                <Component Id="cmp7Txu8cTJOhqhpi7iZLzsdQ8KRbc" Guid="*">
                    <File Id="filLwQzle80lZRAIdC5wUWYE1j5zXc" KeyPath="yes" Source="$(var.SourceDir)\include\Phasor.hpp" />
                </Component>
                <Component Id="cmpNYdw8zGhhSQvulPNqIx3auYOir8" Guid="*">
                    <File Id="filnWqTl63kbnJyjCt1Sw.u6UraVtM" KeyPath="yes" Source="$(var.SourceDir)\include\PhasorFFI.h" />
                </Component>
                <Component Id="cmpJgjykCOnLGyauk0p30ZJbD45__4" Guid="*">
                    <File Id="fil6cvaldsQDqqEv6zVk_D1sFwoXt0" KeyPath="yes" Source="$(var.SourceDir)\include\PhasorJson.hpp" />
                </Component>
                <Component Id="cmpr0l4G3x8f73XTXEK2IwnV_VkW5k" Guid="*">
                    <File Id="fil5PwEDZGluBQkFgttjQNvPfeeiOI" KeyPath="yes" Source="$(var.SourceDir)\include\PhasorRT.h" />
                </Component>
                <Component Id="cmpV3uXLzAQR.P.yMrK0ds9BHj3pyk" Guid="*">
                    <File Id="filuV1z5u_XGzqpd6mSABYBJogkc9Q" KeyPath="yes" Source="$(var.SourceDir)\include\PhasorString.hpp" />
                </Component>
                <Component Id="cmpc.3LoM53GHGr4YSu0xcjfPl.pAQ" Guid="*">
                    <File Id="filC0YpqFkeTZsKYWuYpzUkOI9wk8M" KeyPath="yes" Source="$(var.SourceDir)\include\phsint.hpp" />
                </Component>
                <Component Id="cmpTAeIBMLFd69RHKgW7rTwcWOZxFY" Guid="*">
                    <File Id="filv0Wz6.KU_5Z1QNnOOgMbLcodm7U" KeyPath="yes" Source="$(var.SourceDir)\include\Value.hpp" />
                </Component>
                <Directory Id="diroxwssm_DUJ5k9GLUfD7eJ2tS4CI" Name="Phasor">
                    <Component Id="cmpHtdalcvjolrYhSdkUQLZ2xrovhY" Guid="*">
                        <File Id="fil78fGwE6uYk1dZrJkkkR7YxpS41M" KeyPath="yes" Source="$(var.SourceDir)\include\Phasor\PhasorFFI.hpp" />
                    </Component>
                    <Component Id="cmp7auJ8OGbrHSmqEr8.oCj7_DFFCk" Guid="*">
                        <File Id="filjTQlANHUEbnL1ksCpMh6aktGQqg" KeyPath="yes" Source="$(var.SourceDir)\include\Phasor\PhasorISA.hpp" />
                    </Component>
                    <Component Id="cmpk4KHmqzL_9tenUEt9bOwYe77DyQ" Guid="*">
                        <File Id="filn79wScjquFAigIXZDlQW2uYJUwM" KeyPath="yes" Source="$(var.SourceDir)\include\Phasor\PhasorStdLib.hpp" />
                    </Component>
                    <Component Id="cmpiVcbCAn9Rovh6bsE_dOJPKRNzsM" Guid="*">
                        <File Id="filszA7eJlCmFnJUYWC3B49X8jXbnk" KeyPath="yes" Source="$(var.SourceDir)\include\Phasor\PhasorVM.hpp" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir4xeq9afHtfgq5jKcFCchgU6elbQ" Name="lib">
                <Component Id="cmpevPXMgrTL76NoDMu49Vhotl3PFE" Guid="*">
                    <File Id="filKZzMHXvRwJiULNUjwB038rapYPI" KeyPath="yes" Source="$(var.SourceDir)\lib\phasorrt.lib" />
                </Component>
                <Component Id="cmpsC3j8rZU85iXJrOtvppDq_.RTbo" Guid="*">
                    <File Id="filUh31l5Jx.Vbiju3kyvy2IJ7M_OQ" KeyPath="yes" Source="$(var.SourceDir)\lib\phasorstaticrt.lib" />
                </Component>
            </Directory>
            <Directory Id="dircvwArUwcMVFMYMME80duaoQzPzw" Name="man">
                <Directory Id="dirMF_7EVn3VSr73WDEKJIDI5fJbFc" Name="man1">
                    <Component Id="cmpP7YhUErTQhxo1yh6ohO2h1eZXXI" Guid="*">
                        <File Id="filF2moiwwCR5LrkEaJHVeXUcGZ6Ww" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasor.1.pdf" />
                    </Component>
                    <Component Id="cmp8dLWgYDg4MP0hdiQVH1lhQhjVYo" Guid="*">
                        <File Id="fily_geUN9SWt.kG63syztVXlMuGpE" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasorasm.1.pdf" />
                    </Component>
                    <Component Id="cmppG6XdZIhrwYIrQ8oySytKqpTBLg" Guid="*">
                        <File Id="filyjQyT8H0Ep.cY.v6DBYijvX0Oo8" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasorc.1.pdf" />
                    </Component>
                    <Component Id="cmpTrdEK1.A6qm6.zJ2cRSx8KONuV8" Guid="*">
                        <File Id="filqe7rCzBl.AL9f_JY4shBAxctbDk" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasorcc.1.pdf" />
                    </Component>
                    <Component Id="cmpExT005KjxnPWZca0bcVDYLZhA3s" Guid="*">
                        <File Id="filU2wfSdO9TgSXyFVfrwQwguiviOI" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasordecomp.1.pdf" />
                    </Component>
                    <Component Id="cmpr0Pjt5zVkduoPDSX4nsu.mySBkU" Guid="*">
                        <File Id="filgYs9RkZFshPeaRk0aXx0PQftJaE" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasorlsp.1.pdf" />
                    </Component>
                    <Component Id="cmpD34Q1Udv.mwFbJZWLdkeWH1hV9c" Guid="*">
                        <File Id="filzQpqQ1RG9NOEzAHrPWMitUjWcdU" KeyPath="yes" Source="$(var.SourceDir)\man\man1\phasorvm.1.pdf" />
                    </Component>
                </Directory>
                <Directory Id="dir_Gi2kgJSzDqgOgTZP7F6uL1lagI" Name="man3">
                    <Component Id="cmpwHh2Yp1dFve7rv7WsXf4iXX7IE4" Guid="*">
                        <File Id="filiPxRMfVAmC0i2_kbhBaCJ_cnt6g" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasor-ffi.3.pdf" />
                    </Component>
                    <Component Id="cmp_RiqOmArM9FpYtGmScv6gcaPHRM" Guid="*">
                        <File Id="filtStpilTh4JteqHMOL1UOb2bsXOs" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasor-py.3.pdf" />
                    </Component>
                    <Component Id="cmpoMq35DLa4ultX3EM8xjU3KuPAFo" Guid="*">
                        <File Id="filrDNUcls1y8VeNhHNsiNxDClGQkM" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorrt-rs.3.pdf" />
                    </Component>
                    <Component Id="cmpCKDz.jlx479eQ07KBTUrn1tFSTE" Guid="*">
                        <File Id="fila2sgfIXA7wHbMtu0SViTrSWAO8w" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorrt-zig.3.pdf" />
                    </Component>
                    <Component Id="cmpPw3FDbvSsmV3kDRnL5j9MtoV6iA" Guid="*">
                        <File Id="filwtK4YEvKLmfqxTDRUsngzrNfVLI" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorrt.3.pdf" />
                    </Component>
                    <Component Id="cmpx96Qq18im5IailDAH5.CUKHBzYc" Guid="*">
                        <File Id="filJfhx0X0vl5s6r1fZoSG_gLanyfs" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_array.3.pdf" />
                    </Component>
                    <Component Id="cmpSs8oK6lF9MBv..0YmoM5P0M4O_E" Guid="*">
                        <File Id="filyoBUIvZArTYXG.BrFZ4iQZOBYEs" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_file.3.pdf" />
                    </Component>
                    <Component Id="cmppHkzGZmxyXrmhn3c09YmKtLval8" Guid="*">
                        <File Id="filyq9aKSi2gP0kbUfcfQE.YcVh9dk" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_io.3.pdf" />
                    </Component>
                    <Component Id="cmp3wGICgAw98Hy3ObpmMQLzGyFBMM" Guid="*">
                        <File Id="fil14gQYUITsa8sKOi34wHwP6isRlE" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_math.3.pdf" />
                    </Component>
                    <Component Id="cmp5DkyehF1q7S.Vl9of2rPIfo5d5w" Guid="*">
                        <File Id="filyeiv0AWyCWoxqjZZaApSsifmP9I" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_mem.3.pdf" />
                    </Component>
                    <Component Id="cmpnqZcP.jOh971hjyM_BV3MN4IHWM" Guid="*">
                        <File Id="fil9FTWt6lezkLaR0jecdnBn7aSu1s" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_meta.3.pdf" />
                    </Component>
                    <Component Id="cmpx8Yx5UdwHwcXpxZuKu32TrzlZDo" Guid="*">
                        <File Id="filXxenNpphF5MVzQAOcgQxAh4m3oc" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_rand.3.pdf" />
                    </Component>
                    <Component Id="cmpC47RVflqeWK4ouMKs_PQ84l.AR8" Guid="*">
                        <File Id="fil1jK7XwcYQ1gdbCpWG3LnjAOJM5Y" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_str.3.pdf" />
                    </Component>
                    <Component Id="cmpz6X3r.o4mXpMbea1iTBpeFYUKsk" Guid="*">
                        <File Id="filXAvccHZ0w7VQFTblldeghVvR1OY" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_sys.3.pdf" />
                    </Component>
                    <Component Id="cmpc8E05B35LK8Vv2.kMyub1yJQlE0" Guid="*">
                        <File Id="filTI7RmTHfEpy3__jLNpZPfcJF914" KeyPath="yes" Source="$(var.SourceDir)\man\man3\phasorstd_type.3.pdf" />
                    </Component>
                </Directory>
                <Directory Id="dir274m82alFXeYhNb6NJgDAFvJfkI" Name="man5">
                    <Component Id="cmpPQcOE8iIoWGhDTKpbIG21YS7y.4" Guid="*">
                        <File Id="filglvdwjbPcffzUYOVqsZ7cj1onEw" KeyPath="yes" Source="$(var.SourceDir)\man\man5\PHIR.5.pdf" />
                    </Component>
                    <Component Id="cmp.4iA.4523C0mUz2yQ7y01oeFokk" Guid="*">
                        <File Id="fil_Fcy.zQZ.mzeQSpVZy0xRkk5P2o" KeyPath="yes" Source="$(var.SourceDir)\man\man5\PHS.5.pdf" />
                    </Component>
                    <Component Id="cmprnQOyBXi1s2CWYI4.aMKumgUA54" Guid="*">
                        <File Id="filISBHcBB.wN6MsW5QDvfJ47F.Xv8" KeyPath="yes" Source="$(var.SourceDir)\man\man5\PHSB.5.pdf" />
                    </Component>
                </Directory>
                <Directory Id="dir35MP7Z.35DvnTTBkV.vOTRv5pi0" Name="man7">
                    <Component Id="cmpq.kIM0KXn5RBatvyJ9Chk1FHSfc" Guid="*">
                        <File Id="filbHRLccPRYCMqFKuCzVNUcg1lUYQ" KeyPath="yes" Source="$(var.SourceDir)\man\man7\phasor-isa.7.pdf" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirQy6AwohMhuOpF370EVA.GpG1OAU" Name="opt">
                <Directory Id="dirHU5njN3mSwcdrzOW0y44A.HW9jI" Name="include">
                    <Directory Id="dirRjSFo7oLQP4hXzouWbvogdjfICM" Name="sdl2">
                        <Component Id="cmpg0TG386Gp99SZ8.siForWIzn348" Guid="*">
                            <File Id="filiGlNvAeHGlDkh6fZQPyN1lOqsQ8" KeyPath="yes" Source="$(var.SourceDir)\opt\include\sdl2\sdl2.phs" />
                        </Component>
                        <Directory Id="dirJEkIQ5kO4A75z0uBmCWC3SuftKA" Name="types">
                            <Component Id="cmpsq6cKABt3jC.8aWWJNIdxxULWcY" Guid="*">
                                <File Id="filqBMZwwB0ZRpUNjEyvAmVYUSExJc" KeyPath="yes" Source="$(var.SourceDir)\opt\include\sdl2\types\sdl2.phs" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dirKI8hG4wk_Ses4eQRVBkM9fq7F6g" Name="std">
                        <Component Id="cmpxuoVa87fQZp26p2jjORUyQzHa8U" Guid="*">
                            <File Id="filfhwxcWYbEEiOgtNpvA5lFtZy_n8" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\array" />
                        </Component>
                        <Component Id="cmpQbd94SfUgXT90uZirac1osFggHQ" Guid="*">
                            <File Id="filmm88rQbnJ.Jt3qadE_YMAfTC0E0" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\file" />
                        </Component>
                        <Component Id="cmpJuivOR7gQdbYaS4.xmRzd4bta48" Guid="*">
                            <File Id="filucSoO3qG6fZJcAQt7N3OS1X9ROc" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\ini" />
                        </Component>
                        <Component Id="cmpY17NX9Flzc93sTK12L8FmAF_YZs" Guid="*">
                            <File Id="filW59sf_ewwLsU5zDNhg5ugceUeTc" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\io" />
                        </Component>
                        <Component Id="cmpmhG2BC8K126DeUICCfKDZY2l3wo" Guid="*">
                            <File Id="fil7HfOIyvT.Km4zSrCQ1MiImyiGkc" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\main" />
                        </Component>
                        <Component Id="cmp9mUhoh7LIQrJsdjY5BLrW8Jm0H0" Guid="*">
                            <File Id="filcQ9KdDGfOTiiDm7PkYwmSq7Kqnk" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\math" />
                        </Component>
                        <Component Id="cmpET9T0yCvana8OVTdrVh6HMEdLEE" Guid="*">
                            <File Id="fil1YoLi52CFBhme2zboiNg0UxRLdM" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\mem" />
                        </Component>
                        <Component Id="cmpVjXlEur8aVISE4BAiHrIzwj_3u0" Guid="*">
                            <File Id="filIjv9IAkAqHc89pUDRK6nJ2BqzFY" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\meta" />
                        </Component>
                        <Component Id="cmpkS45.qvZx84ICScxg0_lOCXgezg" Guid="*">
                            <File Id="filBUXKKUXyzeuUu8Xm5ZKUV17XD0M" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\rand" />
                        </Component>
                        <Component Id="cmpzPHx0hlcmZtmd9vmXaIZEBRC0Fs" Guid="*">
                            <File Id="fil8NRcd8gMg5HeJi9.RD3XCK7h.EY" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\smain" />
                        </Component>
                        <Component Id="cmpytvzB7XNRk5Ml6dsGa6XZ3WB03Q" Guid="*">
                            <File Id="fils2U0wpJKj6k1Lh5M08WxuuAH7fs" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\str" />
                        </Component>
                        <Component Id="cmpULKl7oTepAm60HUL28AFMeH.yyo" Guid="*">
                            <File Id="fil0R1fDUKgvavtFpWGme45cmk1FAk" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\struct" />
                        </Component>
                        <Component Id="cmpfoLr9d97Pz9gPllu7bySYrhZsBw" Guid="*">
                            <File Id="filVj6RQx0xDpkgS710SrQ2q0SVjKs" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\sys" />
                        </Component>
                        <Component Id="cmp3IJnHN6N37iXE4stm6GMPhqwbWw" Guid="*">
                            <File Id="filQ.W1beT55VOD85FqrhMHbetUDWI" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\type" />
                        </Component>
                        <Directory Id="dir_H5tG_vrbpOEzX9HL3k9FnPfF4s" Name="extra">
                            <Component Id="cmp0GADG07UcyAq2sdtVt81LoCLTgE" Guid="*">
                                <File Id="filGDmg_LKu05EDF3f1P2b8kiPgkd8" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\extra\conemu" />
                            </Component>
                            <Component Id="cmp.WZ5cXOhWkSuKC46DqqXch_M2IM" Guid="*">
                                <File Id="fil7QMMpUXES1aREJgykKOrcdFWf04" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\extra\progressbar" />
                            </Component>
                        </Directory>
                        <Directory Id="dir_nw3zL2536YIhwiYLyw1cedxVUg" Name="types">
                            <Component Id="cmpYxIrhxayMbo_zNKR7reoV5ewzIA" Guid="*">
                                <File Id="filDWYX0sW.zqtHrcnyZ418D1M56iI" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\types\mem.phs" />
                            </Component>
                            <Component Id="cmpEVNxSEL5ai8BcEaPl2.Q30Y2Qkw" Guid="*">
                                <File Id="filnUS8khe7Xepm6lgAh4OucI0xHGI" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\types\meta.phs" />
                            </Component>
                            <Component Id="cmpDaxijTdEbvZLHsykFsSGalVvYWc" Guid="*">
                                <File Id="filTnnlcZeUPgCiNz.JK.5Y2B7KbeY" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\types\sys.phs" />
                            </Component>
                            <Component Id="cmpqrOxGQ5wZf99ubgY_Kg_p2AX7ps" Guid="*">
                                <File Id="filklPH_4ZEWZI1sAZR.RysrS0kOJ0" KeyPath="yes" Source="$(var.SourceDir)\opt\include\std\types\type.phs" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dir95hXlPRfGL77mB_QhOsFsvGB52Q" Name="win32">
                        <Component Id="cmpYvvHnYSVB3.RTkXA3ouYaycSZBo" Guid="*">
                            <File Id="filUpan6NLaieeKqRI_KaZaVE_ENr8" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\consoleapi2.phs" />
                        </Component>
                        <Component Id="cmpny5CXSKu4M6CilF_5xZEv.ZxsZc" Guid="*">
                            <File Id="filUgkDPhEOCg7Nx4P.aQjOJ.md708" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\errhandlingapi.phs" />
                        </Component>
                        <Component Id="cmpJLqAyGmGK06TXtNOU37ybK_2Yp0" Guid="*">
                            <File Id="filchsCr8jIgbZ8OIBkCG3OtVApU7w" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\handleapi.phs" />
                        </Component>
                        <Component Id="cmpkbE6kJ8j9.ubFFCEonBDRGDZ6A4" Guid="*">
                            <File Id="fily4.IjpneQzyS6I8T5lJqkFemqBI" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\libloaderapi.phs" />
                        </Component>
                        <Component Id="cmpV_lC3a65bDOR07iivedeKH4zL1c" Guid="*">
                            <File Id="filuVtS5IkzikzqUEuRjHRJp9K_hco" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\processenv.phs" />
                        </Component>
                        <Component Id="cmp9R.OBKWOz_5tPlOphCrexY0z2hg" Guid="*">
                            <File Id="filoPKTNV5ovQifNUvqDOGlGQMZr1w" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\processthreadsapi.phs" />
                        </Component>
                        <Component Id="cmpAanl0tByf.FXW2aWbYnuZpq.5aA" Guid="*">
                            <File Id="filzrVq8ZcCPI8xeQvQQaUHnfx1kV8" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\sysinfoapi.phs" />
                        </Component>
                        <Component Id="cmplWECWa.p3etSE2FO4pYlmny7M.c" Guid="*">
                            <File Id="filjTe8q.sEsSB3N2EoxWqzqwd0w7s" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\utilapiset.phs" />
                        </Component>
                        <Component Id="cmpA.fSDugCRhoDs1_f9v95OMOzxrM" Guid="*">
                            <File Id="fil46qOl0ggJNVcXuspGXGni7S1cEk" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\winbase.phs" />
                        </Component>
                        <Component Id="cmplNnD0k8J3dSzNf9_8M3Gj_dPn14" Guid="*">
                            <File Id="filNH5QB.okXrsboWhAXRYbG7cEYIs" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\wincon.phs" />
                        </Component>
                        <Component Id="cmpZnn9x7V3xpqNKZfO8mrT1NaAiuI" Guid="*">
                            <File Id="fil7P7ajvdgJ1DPm0LxZtcun.wfvYI" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\windows.phs" />
                        </Component>
                        <Component Id="cmp68cbsEuEQEzQK5Fxqx7Fw20X95s" Guid="*">
                            <File Id="filGX0_jxmfXrRPwL6Lixi0HMCuGss" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\winmain.phs" />
                        </Component>
                        <Component Id="cmplIt9aO.O7m1TxWKSS1MBTztx.eo" Guid="*">
                            <File Id="filcC3AAU0broxi.N8jA1Mo5gFeZzE" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\winnls.phs" />
                        </Component>
                        <Component Id="cmpbDU43jZVWFgWpcochUnzYc43IGM" Guid="*">
                            <File Id="filQiljuqrjAwNI4W7KB.2w_AtL4WE" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\winnt.phs" />
                        </Component>
                        <Component Id="cmp94mwaQ.bMAu3FxzQxcpVgjnu6v4" Guid="*">
                            <File Id="fil.vUNPfjJFfHgqzN.Ca8qGykrS6Y" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\winuser.phs" />
                        </Component>
                        <Directory Id="dirGMfK.LGyX4PnBcApjzBOzpvuhlc" Name="types">
                            <Component Id="cmpD6JMu.q3J58usmk3ydVBVPeUSkA" Guid="*">
                                <File Id="filealjHYqVl7.0Fm30b.X4XZDuOts" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\types\handle.phs" />
                            </Component>
                            <Component Id="cmpRhV1J7BQpS7i.2W3PTHOUG2C2zo" Guid="*">
                                <File Id="filIWatSaPxKqyrCfi48DnOdDBMZ4k" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\types\mb_def.phs" />
                            </Component>
                            <Component Id="cmpwxiJYpg2mefy4odZjfG6u14T.E8" Guid="*">
                                <File Id="filnt1kWQUEVa8HDQW3z2poWOEDoa0" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\types\stdhandle.phs" />
                            </Component>
                            <Component Id="cmpvb2xvScY3vrPJAmNZ4.lJVStRNI" Guid="*">
                                <File Id="filyMg6W9MuNISxt3M7ebq_VR0kV3Y" KeyPath="yes" Source="$(var.SourceDir)\opt\include\win32\types\wintypes.phs" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dirVhI7HMqPCFkiQ9rVmIXnzN27FrQ" Name="src">
                    <Directory Id="dirzKWEdUUi5SaR_2sHvyvaMqrW_7I" Name="sdl2">
                        <Component Id="cmp3wzWdBNob7BVrLl41hg4ssJwQW4" Guid="*">
                            <File Id="filW9SvuI2_yaAfL19.22eKFYHiiQc" KeyPath="yes" Source="$(var.SourceDir)\opt\src\sdl2\sdl2.phs" />
                        </Component>
                    </Directory>
                    <Directory Id="dir2HCUUFMv63lmFvE9KVDnrpdpsro" Name="std">
                        <Component Id="cmpJkm.Q.FtVmX3aX9MVeaT9YK.Wa0" Guid="*">
                            <File Id="filMmTfWGrdTXRU0BB0.x3cMAID9bM" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\file.phs" />
                        </Component>
                        <Component Id="cmp2T83e4KiFf27yiBIdYyfHnS2iPo" Guid="*">
                            <File Id="filPwi7F7cBrq3Xk_h.igURqYuhQgc" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\io.phs" />
                        </Component>
                        <Component Id="cmpfHpZcBxaTasCfG526PnThb5xx48" Guid="*">
                            <File Id="filqwFbpuRq4mnd6yoqCJB2rVRxN4s" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\main.phs" />
                        </Component>
                        <Component Id="cmppFothngk546WFYy.pLqWYice908" Guid="*">
                            <File Id="filBhHt3grh_NwMgHYD.jXV6LbRwJE" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\mem.phs" />
                        </Component>
                        <Component Id="cmpOKS3CVKvYSDNIgDJYFNXIOb3Xlg" Guid="*">
                            <File Id="fily2lUoUJRD56E1_bues.b8uNDnxI" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\meta.phs" />
                        </Component>
                        <Component Id="cmp5KMUvpIe6H0ZqrL1TgcPTmAjUvU" Guid="*">
                            <File Id="fil4yuLv.JPgoQN3fnBcm8txIh52fE" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\sys.phs" />
                        </Component>
                        <Directory Id="dirTvy_oMGD_UG9VmwggUS29zrdnYs" Name="extra">
                            <Component Id="cmpoRiTn6LPUxgq1AE2H4_blL0y9I8" Guid="*">
                                <File Id="filadcomUP5KLeIkfSA3Z2fZYSaOXA" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\extra\conemu.phs" />
                            </Component>
                            <Component Id="cmpE9Edob6hex9R7HFPgXLUwHKAQFQ" Guid="*">
                                <File Id="filzAGXUcHQP9MM6Ko2lQHDM2EnJQY" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\extra\progressbar.phs" />
                            </Component>
                        </Directory>
                        <Directory Id="dirrv2oZy7uafarpFJUsM7zuTZ44.A" Name="phs_init">
                            <Component Id="cmpVcdWK1Yqb9Iu7NZVGpNed49p8SM" Guid="*">
                                <File Id="fil9dVFSTNJM4.GeQmxXU4FjgoiXhM" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\phs_init\common.phs" />
                            </Component>
                            <Component Id="cmpfNer2SscnLEMTfXiFPUZcUbmXjc" Guid="*">
                                <File Id="filsxybP06r8TGrEDZDBg0r206_.dc" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\phs_init\corruptioncheck.phs" />
                            </Component>
                            <Component Id="cmp1jgse6UQeihuo5CvKM4git62Ji8" Guid="*">
                                <File Id="fil.J8eVP.SG8wNrQexnKYcZfD8poM" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\phs_init\startup.phs" />
                            </Component>
                            <Component Id="cmp8YGJqnsFzw5LGFLTSmb0fTgjNQg" Guid="*">
                                <File Id="fil3w1WQHP5MzU9jB8HrEDKLNzczzg" KeyPath="yes" Source="$(var.SourceDir)\opt\src\std\phs_init\util.phs" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dir9HTn0bQJJJkMDM5aQNKn1zIBPao" Name="win32">
                        <Component Id="cmpUAthuexfL_omwNyusC.EeS89uiw" Guid="*">
                            <File Id="filk8tF_0JPCvAR3.MLQ9qt6SxHJ8I" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\consoleapi2.phs" />
                        </Component>
                        <Component Id="cmpMezes7nBhJwcfgSnz_z3bgsgfms" Guid="*">
                            <File Id="filhSZIgEO2LR5J9lv19N9o35zzcXQ" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\errhandlingapi.phs" />
                        </Component>
                        <Component Id="cmpXznZ1_IY.8vwMy4Ebp5Av84ubVc" Guid="*">
                            <File Id="filIFPjnsP61G7uMFZw8sZpwZGpH5M" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\handleapi.phs" />
                        </Component>
                        <Component Id="cmp04uvKBR7K75X5kZdSZq9n93K8k8" Guid="*">
                            <File Id="filowptsbbw.TuD04j2pEPpm7bhXXw" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\libloaderapi.phs" />
                        </Component>
                        <Component Id="cmpsX_MY61OLwbrl0CBnt1iKt8lCCg" Guid="*">
                            <File Id="filUdgqLMAlArbzHQMNhu_hw.MQvRc" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\processenv.phs" />
                        </Component>
                        <Component Id="cmp3ZzVnngAYsgVpCVKyGBLGk8PySU" Guid="*">
                            <File Id="filulQE8Gq4dLcB8N4VvD.JDagA.9M" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\processthreadsapi.phs" />
                        </Component>
                        <Component Id="cmpxtuj7V9W4Qbr.ppNlnyaM1JMi3o" Guid="*">
                            <File Id="fil4xj2mXAER.OzXysoWcPLkLzQyuI" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\sysinfoapi.phs" />
                        </Component>
                        <Component Id="cmppcSE74Yun2S8D.hV_JeKbEWCN5w" Guid="*">
                            <File Id="filPZVplePTYvQbwyvqx_N5oa_9txE" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\utilapiset.phs" />
                        </Component>
                        <Component Id="cmp4eQfrIeEiCcdyNqBvuZjhIicdbM" Guid="*">
                            <File Id="filTf7psnjDT.BqK5qu7GFNlePDPOs" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\winbase.phs" />
                        </Component>
                        <Component Id="cmpuQjbzzCaSrD.opiYvLg4nyGi7t0" Guid="*">
                            <File Id="filMAAAHv2ENEQTjFqRrxvCERyeMoQ" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\winmain.phs" />
                        </Component>
                        <Component Id="cmpqUee.HuxFjeOVjbzDDLTS3oX7ig" Guid="*">
                            <File Id="filI3WlgEy5dUY5w6auMpgntX41u4U" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\winnls.phs" />
                        </Component>
                        <Component Id="cmp8kMOoE2cPAG.v1WW_t8_WNpjDaY" Guid="*">
                            <File Id="filqxyg6Apo166cO3GBwIMVnsUUwtE" KeyPath="yes" Source="$(var.SourceDir)\opt\src\win32\winuser.phs" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PhasorFiles">
            <ComponentRef Id="cmpBfFFZ2v2kii7VN3KXkXwabM5Fyo" />
            <ComponentRef Id="cmpK3NTalfDwwhFpiQqGiZBCl8zX0s" />
            <ComponentRef Id="cmp4j.vJYTh5Cj6_QF4E3ubXVdEmuM" />
            <ComponentRef Id="cmpWXqncv_IMYF_j36djtOYoIz_wj0" />
            <ComponentRef Id="cmpMeeqVGTdIHq.MhrSVV4bCXvI1SI" />
            <ComponentRef Id="cmpQvMJYoyIMRyLFwACDISK_08PaTo" />
            <ComponentRef Id="cmp7_gxyxxpeZlkPzaFF9YyK4fsbfQ" />
            <ComponentRef Id="cmpskfxGRO6IkepjoaHi2BZUhFh1lM" />
            <ComponentRef Id="cmpA1TQDLK77bLOs3gOP4jOvY2Gg6Y" />
            <ComponentRef Id="cmpJEe0HgmM1jooRis2kL7K53JTVbc" />
            <ComponentRef Id="cmpQllGoRa0uUgp8XUnNCMhpYGZOUk" />
            <ComponentRef Id="cmp_QKT8fd9y1eMm9s4ObDhYxbCdPI" />
            <ComponentRef Id="cmp7Txu8cTJOhqhpi7iZLzsdQ8KRbc" />
            <ComponentRef Id="cmpNYdw8zGhhSQvulPNqIx3auYOir8" />
            <ComponentRef Id="cmpJgjykCOnLGyauk0p30ZJbD45__4" />
            <ComponentRef Id="cmpr0l4G3x8f73XTXEK2IwnV_VkW5k" />
            <ComponentRef Id="cmpV3uXLzAQR.P.yMrK0ds9BHj3pyk" />
            <ComponentRef Id="cmpc.3LoM53GHGr4YSu0xcjfPl.pAQ" />
            <ComponentRef Id="cmpTAeIBMLFd69RHKgW7rTwcWOZxFY" />
            <ComponentRef Id="cmpHtdalcvjolrYhSdkUQLZ2xrovhY" />
            <ComponentRef Id="cmp7auJ8OGbrHSmqEr8.oCj7_DFFCk" />
            <ComponentRef Id="cmpk4KHmqzL_9tenUEt9bOwYe77DyQ" />
            <ComponentRef Id="cmpiVcbCAn9Rovh6bsE_dOJPKRNzsM" />
            <ComponentRef Id="cmpevPXMgrTL76NoDMu49Vhotl3PFE" />
            <ComponentRef Id="cmpsC3j8rZU85iXJrOtvppDq_.RTbo" />
            <ComponentRef Id="cmpP7YhUErTQhxo1yh6ohO2h1eZXXI" />
            <ComponentRef Id="cmp8dLWgYDg4MP0hdiQVH1lhQhjVYo" />
            <ComponentRef Id="cmppG6XdZIhrwYIrQ8oySytKqpTBLg" />
            <ComponentRef Id="cmpTrdEK1.A6qm6.zJ2cRSx8KONuV8" />
            <ComponentRef Id="cmpExT005KjxnPWZca0bcVDYLZhA3s" />
            <ComponentRef Id="cmpr0Pjt5zVkduoPDSX4nsu.mySBkU" />
            <ComponentRef Id="cmpD34Q1Udv.mwFbJZWLdkeWH1hV9c" />
            <ComponentRef Id="cmpwHh2Yp1dFve7rv7WsXf4iXX7IE4" />
            <ComponentRef Id="cmp_RiqOmArM9FpYtGmScv6gcaPHRM" />
            <ComponentRef Id="cmpoMq35DLa4ultX3EM8xjU3KuPAFo" />
            <ComponentRef Id="cmpCKDz.jlx479eQ07KBTUrn1tFSTE" />
            <ComponentRef Id="cmpPw3FDbvSsmV3kDRnL5j9MtoV6iA" />
            <ComponentRef Id="cmpx96Qq18im5IailDAH5.CUKHBzYc" />
            <ComponentRef Id="cmpSs8oK6lF9MBv..0YmoM5P0M4O_E" />
            <ComponentRef Id="cmppHkzGZmxyXrmhn3c09YmKtLval8" />
            <ComponentRef Id="cmp3wGICgAw98Hy3ObpmMQLzGyFBMM" />
            <ComponentRef Id="cmp5DkyehF1q7S.Vl9of2rPIfo5d5w" />
            <ComponentRef Id="cmpnqZcP.jOh971hjyM_BV3MN4IHWM" />
            <ComponentRef Id="cmpx8Yx5UdwHwcXpxZuKu32TrzlZDo" />
            <ComponentRef Id="cmpC47RVflqeWK4ouMKs_PQ84l.AR8" />
            <ComponentRef Id="cmpz6X3r.o4mXpMbea1iTBpeFYUKsk" />
            <ComponentRef Id="cmpc8E05B35LK8Vv2.kMyub1yJQlE0" />
            <ComponentRef Id="cmpPQcOE8iIoWGhDTKpbIG21YS7y.4" />
            <ComponentRef Id="cmp.4iA.4523C0mUz2yQ7y01oeFokk" />
            <ComponentRef Id="cmprnQOyBXi1s2CWYI4.aMKumgUA54" />
            <ComponentRef Id="cmpq.kIM0KXn5RBatvyJ9Chk1FHSfc" />
            <ComponentRef Id="cmpg0TG386Gp99SZ8.siForWIzn348" />
            <ComponentRef Id="cmpsq6cKABt3jC.8aWWJNIdxxULWcY" />
            <ComponentRef Id="cmpxuoVa87fQZp26p2jjORUyQzHa8U" />
            <ComponentRef Id="cmpQbd94SfUgXT90uZirac1osFggHQ" />
            <ComponentRef Id="cmpJuivOR7gQdbYaS4.xmRzd4bta48" />
            <ComponentRef Id="cmpY17NX9Flzc93sTK12L8FmAF_YZs" />
            <ComponentRef Id="cmpmhG2BC8K126DeUICCfKDZY2l3wo" />
            <ComponentRef Id="cmp9mUhoh7LIQrJsdjY5BLrW8Jm0H0" />
            <ComponentRef Id="cmpET9T0yCvana8OVTdrVh6HMEdLEE" />
            <ComponentRef Id="cmpVjXlEur8aVISE4BAiHrIzwj_3u0" />
            <ComponentRef Id="cmpkS45.qvZx84ICScxg0_lOCXgezg" />
            <ComponentRef Id="cmpzPHx0hlcmZtmd9vmXaIZEBRC0Fs" />
            <ComponentRef Id="cmpytvzB7XNRk5Ml6dsGa6XZ3WB03Q" />
            <ComponentRef Id="cmpULKl7oTepAm60HUL28AFMeH.yyo" />
            <ComponentRef Id="cmpfoLr9d97Pz9gPllu7bySYrhZsBw" />
            <ComponentRef Id="cmp3IJnHN6N37iXE4stm6GMPhqwbWw" />
            <ComponentRef Id="cmp0GADG07UcyAq2sdtVt81LoCLTgE" />
            <ComponentRef Id="cmp.WZ5cXOhWkSuKC46DqqXch_M2IM" />
            <ComponentRef Id="cmpYxIrhxayMbo_zNKR7reoV5ewzIA" />
            <ComponentRef Id="cmpEVNxSEL5ai8BcEaPl2.Q30Y2Qkw" />
            <ComponentRef Id="cmpDaxijTdEbvZLHsykFsSGalVvYWc" />
            <ComponentRef Id="cmpqrOxGQ5wZf99ubgY_Kg_p2AX7ps" />
            <ComponentRef Id="cmpYvvHnYSVB3.RTkXA3ouYaycSZBo" />
            <ComponentRef Id="cmpny5CXSKu4M6CilF_5xZEv.ZxsZc" />
            <ComponentRef Id="cmpJLqAyGmGK06TXtNOU37ybK_2Yp0" />
            <ComponentRef Id="cmpkbE6kJ8j9.ubFFCEonBDRGDZ6A4" />
            <ComponentRef Id="cmpV_lC3a65bDOR07iivedeKH4zL1c" />
            <ComponentRef Id="cmp9R.OBKWOz_5tPlOphCrexY0z2hg" />
            <ComponentRef Id="cmpAanl0tByf.FXW2aWbYnuZpq.5aA" />
            <ComponentRef Id="cmplWECWa.p3etSE2FO4pYlmny7M.c" />
            <ComponentRef Id="cmpA.fSDugCRhoDs1_f9v95OMOzxrM" />
            <ComponentRef Id="cmplNnD0k8J3dSzNf9_8M3Gj_dPn14" />
            <ComponentRef Id="cmpZnn9x7V3xpqNKZfO8mrT1NaAiuI" />
            <ComponentRef Id="cmp68cbsEuEQEzQK5Fxqx7Fw20X95s" />
            <ComponentRef Id="cmplIt9aO.O7m1TxWKSS1MBTztx.eo" />
            <ComponentRef Id="cmpbDU43jZVWFgWpcochUnzYc43IGM" />
            <ComponentRef Id="cmp94mwaQ.bMAu3FxzQxcpVgjnu6v4" />
            <ComponentRef Id="cmpD6JMu.q3J58usmk3ydVBVPeUSkA" />
            <ComponentRef Id="cmpRhV1J7BQpS7i.2W3PTHOUG2C2zo" />
            <ComponentRef Id="cmpwxiJYpg2mefy4odZjfG6u14T.E8" />
            <ComponentRef Id="cmpvb2xvScY3vrPJAmNZ4.lJVStRNI" />
            <ComponentRef Id="cmp3wzWdBNob7BVrLl41hg4ssJwQW4" />
            <ComponentRef Id="cmpJkm.Q.FtVmX3aX9MVeaT9YK.Wa0" />
            <ComponentRef Id="cmp2T83e4KiFf27yiBIdYyfHnS2iPo" />
            <ComponentRef Id="cmpfHpZcBxaTasCfG526PnThb5xx48" />
            <ComponentRef Id="cmppFothngk546WFYy.pLqWYice908" />
            <ComponentRef Id="cmpOKS3CVKvYSDNIgDJYFNXIOb3Xlg" />
            <ComponentRef Id="cmp5KMUvpIe6H0ZqrL1TgcPTmAjUvU" />
            <ComponentRef Id="cmpoRiTn6LPUxgq1AE2H4_blL0y9I8" />
            <ComponentRef Id="cmpE9Edob6hex9R7HFPgXLUwHKAQFQ" />
            <ComponentRef Id="cmpVcdWK1Yqb9Iu7NZVGpNed49p8SM" />
            <ComponentRef Id="cmpfNer2SscnLEMTfXiFPUZcUbmXjc" />
            <ComponentRef Id="cmp1jgse6UQeihuo5CvKM4git62Ji8" />
            <ComponentRef Id="cmp8YGJqnsFzw5LGFLTSmb0fTgjNQg" />
            <ComponentRef Id="cmpUAthuexfL_omwNyusC.EeS89uiw" />
            <ComponentRef Id="cmpMezes7nBhJwcfgSnz_z3bgsgfms" />
            <ComponentRef Id="cmpXznZ1_IY.8vwMy4Ebp5Av84ubVc" />
            <ComponentRef Id="cmp04uvKBR7K75X5kZdSZq9n93K8k8" />
            <ComponentRef Id="cmpsX_MY61OLwbrl0CBnt1iKt8lCCg" />
            <ComponentRef Id="cmp3ZzVnngAYsgVpCVKyGBLGk8PySU" />
            <ComponentRef Id="cmpxtuj7V9W4Qbr.ppNlnyaM1JMi3o" />
            <ComponentRef Id="cmppcSE74Yun2S8D.hV_JeKbEWCN5w" />
            <ComponentRef Id="cmp4eQfrIeEiCcdyNqBvuZjhIicdbM" />
            <ComponentRef Id="cmpuQjbzzCaSrD.opiYvLg4nyGi7t0" />
            <ComponentRef Id="cmpqUee.HuxFjeOVjbzDDLTS3oX7ig" />
            <ComponentRef Id="cmp8kMOoE2cPAG.v1WW_t8_WNpjDaY" />
        </ComponentGroup>
    </Fragment>
</Wix>